<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <!--Import styles-->
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/pages/login.css">
  <link rel="stylesheet" href="/styles/pages/input.css">
  <link rel="stylesheet" href="/styles/pages/restrict.css">
  <!--Import JS-->
  <script src="/scripts/modal.js"></script>
  <title>Login | LoQuadra</title>
</head>
<body>

  <div id="page-restrict">
    <div class="content-wrapper">
      <div class="login-card">
        <form onsubmit="" class="login-form">
          <fieldset>
            <legend>Cadastrar-se</legend>
            <div className="input-area">
              <div className="input-block">
                <label htmlFor="email">E-mail</label>
                <input
                  id="email"
                  type="email"
                  value=""
                  onChange={}
                />
              </div>
              <div className="input-block">
                <label htmlFor="password">Senha</label>
                <input
                  id="password"
                  type="password"
                  value=""
                  onChange={}
                />
              </div>
            </div>
          </fieldset>
          <button type="submit" className="login-button">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>