<div class="line"></div>
<footer>  
  <div class="informations">
    <p>&copy; LoQuadra,Inc</p>
    <a href="#">Privacidade</a>
    <a href="#">Termos</a>
    <a href="/about">Informações da empresa</a>
  </div>

  <div class="social">
    <span>
      <i class="fab fa-facebook" ></i>
    </span>
    <span>
      <i class="fab fa-instagram"></i>
    </span>
    <span>
      <i class="fab fa-twitter"></i>
    </span>
  </div>
</footer>