<header>
  <h2 class="sr-only">Homepage</h2>
  <img class="logo" src="/images/logo.png" alt="Logo">
  
  <div class="nav">
    <ul>
      <li>
        <a href="/">Início</a>
      </li>
      <li>
        <a href="/about">Sobre</a>
      </li>
      <li>
        <a href="/map">Serviços</a>
      </li>
      <li>
        <a href="/help">Ajuda</a>
      </li>
    </ul>
  </div>

  <div class="login">
    <a href="#">Entrar</a>
    <div class="separator"></div>
    <a href="#" class="register">Cadastrar</a>
  </div>
</header>
<div class="line2"></div>